/* BASSIC CALCULATOR CSS */
body {
    font-family: Arial, sans-serif;
    background-image: url('https://img.freepik.com/free-photo/back-school-decoration-with-pencils-calculator-space_23-2147662344.jpg'); 
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    flex-direction: column;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.heading {
    font-size: 40px;
    font-weight: bold;
    position: absolute;
    top: 10px;
    left: 10px;
    color: white;
}

.calculator {
    background-color: skyblue;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1);
    width: 400px;
    margin-top: 50px;
}

#display {
    width: 380px;
    height: 50px;
    font-size: 24px;
    margin-bottom: 10px;
    padding: 10px;
    border: 2px solid #ddd;
    border-radius: 5px;
    text-align: right;
    background-color: #f4f4f4;
    color: #333;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

button {
    background-color: darkblue;
    color: white;
    font-size: 20px;
    padding: 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.2s ease;
}

button:hover {
    background-color: #005f75;
}

button:active {
    transform: scale(0.98);
}

.zero {
    grid-column: span 2;
}

.equals {
    grid-row: span 2;
    height: 140px;
}
.ac{
    background-color: orange;
}